<div class="container-fluid">
<h3 style = "text-align: center;">Update Form</h3>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
            <hr style="height: 5px;color: red;">
			<%= @student.name%><br>
			<%= @student.email%><br>
			<%= @student.password%><br>
			<%= @student.address%><br>	
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>